name: "Build and Deploy"
env:
  name: github-pages
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  call-workflow-passing-data:
    uses: passplease/Chirpy-Template/.github/workflows/Deployer.yml@master
    with:
      repository: "/passplease.github.io/homework"
      send_email: false
    secrets:
      email_username: ''
      email_password: ''
      email_recipient: ''